{{ if eq .chezmoi.os "darwin" }}
export SHELL_SESSIONS_DISABLE=1
{{ end }}
{{ if eq .chezmoi.os "linux" }}
if [ -n "$ZSH_VERSION" ]; then
    # include .zshrc if it exists
    if [ -f "$HOME/.zshrc" ]; then
    . "$HOME/.zshrc"
    fi
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

# start xorg
if [[ -z "$DISPLAY" ]]  && [[ $(tty) = /dev/tty1 ]]; then
    exec startx
fi
{{ end }}
