# XDG Environment variables
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Language & locale
export LANG="en_US.UTF-8"
export LC_ALL="en_IE.UTF-8"

# Default programs
export BROWSER=qutebrowser
export TERMINAL=alacritty
export EDITOR=nvim
export PAGER=cat
export GPG_TTY=$(tty)

# Read manpages in neovim
export MANPAGER='nvim +Man!'
export MANWIDTH=999
{{ if eq .chezmoi.os "darwin" }}
path=(
    /opt/local/sbin
    /opt/local/bin
    /usr/local/bin
    /usr/bin
    /usr/local/sicstus4.8.0/bin
    /Applications/WezTerm.app/Contents/MacOS
    /Users/najjt/Library/Python/3.9/bin
    /Users/najjt/tools/flutter/bin
    /Users/najjt/.gem/bin
    /Users/najjt/tools
    /opt/homebrew/bin:/opt/homebrew/sbin
    $path
)
export PATH="$PATH"

# Jupyter
export JUPYTER_PATH=/opt/homebrew/share/jupyter
export JUPYTER_CONFIG_PATH=/opt/homebrew/etc/jupyter

# Java
#export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Contents/Home"
export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk-21.jdk/Contents/Home"
{{ else if eq .chezmoi.os "linux" }}
path=(
    /usr/local/bin
    /usr/bin
    /home/najjt/.local/bin
    /home/najjt/Applications
    /home/najjt/.cargo/bin
    /home/najjt/go/bin
    /home/najjt/bin
    /usr/local/texlive/2024/bin/aarch64-linux
    $path
)
export PATH="$PATH"

export manpath=(
    /usr/local/texlive/2024/texmf-dist/doc/man
    /usr/share/man
    $manpath
)
export MANPATH="$MANPATH"

export infopath=(
    /usr/local/texlive/2024/texmf-dist/doc/info
    $infopath
)
export INFOPATH="$INFOPATH"

# QT platform theme
export QT_QPA_PLATFORMTHEME="qt6ct"
{{ end }}
