#PS1=" [%F{green}%n@%m%f %1~ %#] $ "
PS1=" %1~ %F{green}>%f "

# history time stamp format
HIST_STAMPS="mm/dd/yyyy"
HISTFILE=~/.zsh_history
SAVEHIST=1000

# zsh vi mode
function zvm_config() {
  ZVM_LINE_INIT_MODE=$ZVM_MODE_INSERT
  ZVM_VI_EDITOR=vim
  ZVM_INIT_MODE=sourcing
  ZVM_CURSOR_STYLE_ENABLED=true
}

# source zsh config
alias sz="source $HOME/.zshrc && source $HOME/.zshenv"

# open files/dirs
alias home="cd ~"
alias ec="emacsclient -c -n -a ''"

# other
alias x="exit"
alias ..="cd .."
alias ls='ls -lh --color=always'
alias pwdc="pwd | pbcopy"       # copies current working directory to system clipboard
alias pi="ssh pi@192.168.1.48"  # ssh to raspberry pi
alias wt="curl wttr.in"         # weather forecast
alias python="python3"
alias tmc="~/tools/tmc/tmc"
alias cm="chezmoi"
{{ if eq .chezmoi.os "darwin" }}
# restart emacs homebrew service
alias emacsre="brew services restart emacs-plus"

export PATH="/opt/homebrew/bin:$PATH"

# zsh vi mode
source $(brew --prefix)/opt/zsh-vi-mode/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh

# zsh syntax highlighting
source $(brew --prefix)/opt/zsh-syntax-highlighting/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# zsh autocomplete
source /opt/homebrew/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh
{{ else if eq .chezmoi.os "linux" }}
# restart emacs service
alias emacsre="systemctl --user restart emacs"

# zsh vi mode
source /usr/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh

# zsh syntax highlighting
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# zsh autocomplete
source /usr/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh
{{ end }}
# emacs vterm directory tracking shell-side config
if [[ "$INSIDE_EMACS" = 'vterm' ]] \
    && [[ -n ${EMACS_VTERM_PATH} ]] \
    && [[ -f ${EMACS_VTERM_PATH}/etc/emacs-vterm-zsh.sh ]]; then
    source ${EMACS_VTERM_PATH}/etc/emacs-vterm-zsh.sh
fi
