PS1=" %1~ %F{green}>%f "

# History time stamp format
HIST_STAMPS="mm/dd/yyyy"
HISTFILE=~/.zsh_history
SAVEHIST=1000

# zsh vi mode
function zvm_config() {
  ZVM_LINE_INIT_MODE=$ZVM_MODE_INSERT
  ZVM_VI_EDITOR=vim
  ZVM_INIT_MODE=sourcing
  ZVM_CURSOR_STYLE_ENABLED=true
}

#
#  Aliases
#

# Source zsh config
alias sz="source $HOME/.zshrc && source $HOME/.zshenv"

# Open files/dirs
alias home="cd ~"
alias ec="emacsclient -c -n"
alias nv="nvim"

# Other
alias x="exit"
alias ..="cd .."
alias shutdown="sudo shutdown -h now"
alias ls='ls -lh --color=always'
alias pi="ssh pi@192.168.1.48"                             # ssh to raspberry pi
alias pist="ssh -N -L 9090:127.0.0.1:8384 pi@192.168.1.48" # Port forward port 9090 to be able to use syncthing admin gui on other machine
alias wt="curl wttr.in"                                    # Weather forecast
alias python="python3"
alias tmc="~/tools/tmc/tmc"
alias cm="chezmoi"
alias dnf="sudo dnf"
{{ if eq .chezmoi.os "darwin" }}
alias ecre="brew services restart emacs-plus"              # Restart Emacs service

export PATH="/opt/homebrew/bin:$PATH"

#
# Plugins
#

# Vi mode
source $(brew --prefix)/opt/zsh-vi-mode/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh

# Syntax highlighting
source $(brew --prefix)/opt/zsh-syntax-highlighting/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ else if eq .chezmoi.os "linux" }}
alias ecre="systemctl --user restart emacs"                # Restart Emacs service

# Connect/disconnect to Wireguard
alias wiup="wg-quick up got82-adb"
alias wido="wg-quick down got82-adb"
alias wire="systemctl restart wg-quick@got82-adb"

#
# Plugins
#

# Vi mode
source /usr/share/zsh-vi-mode/zsh-vi-mode.plugin.zsh

# Syntax highlighting
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

#
# Other
#

# ghc
[ -f "/home/najjt/.ghcup/env" ] && . "/home/najjt/.ghcup/env" # ghcup-env%
{{ end }}
# Theme
eval "$(starship init zsh)"

# Set up fzf keybindings and fuzzy completion
source <(fzf --zsh)

# Open man pages with Emacs
if [[ -z ${INSIDE_EMACS+1} ]]; then
    function man() {
        emacsclient -a '' -cne "(let ((buf (man \"$1\"))) (delete-other-windows) (switch-to-buffer buf) (evil-local-set-key 'normal \"q\" (lambda () (interactive) (kill-current-buffer) (delete-frame))))" > /dev/null
    }
fi

# Start Emacs server
if ! ps -e -o args | grep -i "emacs" | grep "daemon"; then;
