[user]
    name = Martin Lönn Andersson
    email = mlonna@pm.me
[credential]
    helper = /usr/local/bin/git-credential-manager
    credentialStore = gpg
[credential "https://dev.azure.com"]
    useHttpPath = true
[alias]
    ac = !git add -A && git commit -m
[credential "https://gitea.dsv.su.se"]
    provider = generic
[init]
    defaultBranch = main
