# xdg
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# lang & locale
export LANG="en_US.UTF-8"
export LC_ALL="en_IE.UTF-8"

# default programs
export BROWSER=qutebrowser
export TERMINAL=wezterm
export EDITOR=emacsclient
export VISUAL=emacsclient
export PAGER=cat





path=(
    /home/najjt/.local/bin
    $path
)


