* {
    font-family: "Terminus (TTF)";
    font-size: 12px;
}


window#waybar {
    background-color: #000000;
    color: #ffffff;
}

.modules {
    background-color: #000000;
}

#workspaces button {
    padding: 0px 3px 0px 3px;
    border-radius: 0;
    min-width: 1px;
    color: #888888;
}

#workspaces button.focused {
    padding: 0px 3px 0px 3px;
    background-color: #000000;
    color: #ffffff;
}
