@theme "Monokai"

* {
    foreground                 : #cecece;
    separatorcolor             : #cecece;
    selected-normal-background : #424858;
    font                       : "Terminus 12";
}

window {
    width                      : 30%;
    height                     : 25%;
    background-color           : #282a36;
}

listview {
    scrollbar                  : false;
}
