local wezterm = require 'wezterm'
local act = wezterm.action
local config = wezterm.config_builder()

config.window_decorations = "RESIZE"
config.font = wezterm.font 'JetBrains Mono'
{{ if eq .chezmoi.os "darwin" }}
config.font_size = 15
{{ else if eq .chezmoi.os "linux" }}
config.font_size = 13
{{ end }}
config.line_height = 1.2
config.hide_tab_bar_if_only_one_tab = true
config.use_fancy_tab_bar = false
config.bypass_mouse_reporting_modifiers = "SHIFT"
config.send_composed_key_when_left_alt_is_pressed = true
config.send_composed_key_when_right_alt_is_pressed = true
config.window_close_confirmation = 'NeverPrompt'

config.keys = {
            {
            key = 't',
            mods = 'CTRL',
            action = act.SpawnTab 'CurrentPaneDomain',
            },
            {
            key = 'w',
            mods = 'CTRL',
            action = act.CloseCurrentTab { confirm = false},
            },
{{ if eq .chezmoi.os "linux" }}
            {
            key = 'n',
            mods = 'CTRL',
            action = act.SpawnWindow,
            },
{{ end }}
}

return config
