[window]
{{ if eq .chezmoi.os "linux" }}
  decorations = 'None'
{{ else if eq .chezmoi.os "darwin" }}
  decorations = 'Transparent'
{{ end }}
[font]
  normal = { family = "Terminess Nerd Font Mono"}
{{ if eq .chezmoi.os "linux" }}
  size = 12.0
{{ else if eq .chezmoi.os "darwin" }}
   size = 20.0
{{ end }}
[colors.primary]
background = "#000000"
