[window]
  decorations = 'None'

[font]
  normal = { family = "Terminess Nerd Font Mono"}
{{ if eq .chezmoi.os "linux" }}
  size = 12.0
{{ else if eq .chezmoi.os "darwin" }}
   size = 22.0
{{ end }}

[colors.primary]

background = "#000000"
